nav {
  background-color: chartreuse;
  height: 100px;
  position: fixed
  width: 100%;
}
body {
border: 30px;
}
footer {
  background-color: chartreuse;
  height: 100px;
  width: 100%;
  clear: both;
}
section {
  float: left;
  width: 50%;
}
section#left {
  background-color: teal;
}
section#right {
  background-color: yellow;
}
section img{
  position: relative;
  top: 10px;
  left: 30px;
}
