nav {
 background-color: 2d8632;
 height: 100px;
 position: fixed;
 width: 100%;
 z-index: 3;
}
nav ul {
 list-style-type: none;
 display: inline;
}
nav div {
 display: block;
 position: relative;
}
div#navdiv1 {
 left: 20px;
 top: -10px;
}
div#navdiv2 {
 left: 33%;
 top: -50px;
}
div#navdiv3 {
 left: 66%;
 top:-70px;
}
nav a {
 color: 004304;
 font-size: 20;
}
body {
 border: 1px;
 margin: 0px;
}
footer {
 background-color: aa3c39;
 height: 100px;
 width: 100%;
 clear: both;
}
section {
 float: left;
 width: 50%;
 height: auto;
 margin-top: 100px;
}
section#left {
 background-color: ffacaa;
}
section#left img {
 top: 15px;
 position: relative;
 display: block;
 margin: auto;
 height: auto;
 width: auto;
 z-index: 2;
}
section#left p {
 position: relative;
 text-align: center;
 display: block;
 padding: 20px;
 color: 550200;
 font-size: 20;
}
section#right {
 background-color: 86c98a;
 height: 823px;
 box-sizing: border-box;
}
section#right a {
 display: block;
 position: relative;
 left: 43%;
 top: 400px;
 color: 004304;
 font-size: 30;
 z-index; 2;
}
footer p {
 color: 550200;
 position: relative;
 top: 10px;
 left: 10px;
}
