nav {
  background-color: chartreuse;
  height: 100px;
  position: fixed
  width: 100%;
}
body {
border: 20px;
}
footer {
  background-color: chartreuse
  height: 100px;
  width: 100%;
  clear: both;
}
