.high {
  background-color: red;
}
.high li {
  color: white;
}
.medium {
  background-color:orange;
}
.medium li {
  color: brown;
}
.low {
  background-color: gray;
}
.low li {
  color: black;
}
.done {
  background-color: black;
}
.done li {
  color: cyan ;
  text-decoration: line-through;
}
.done th {
  color: cyan;
}
