    .high {
      background-color: red;
    }
    .medium {
      background-color: orange;
    }
    .low {
      background-color: gray;
    }
    .done {
      background-color: gray;
      text-decoration: line-through;
    }
