body {
    background-color: aaaaaa;
}
h1 {
    text-align: center;
    font-size: 60;
}
body div {
    position: relative;
    background-color: #5886b7;
    height: 600px;
    width: 1000px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    
}
footer {
    background-color: #5886B7;
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    
}
footer input {
    width: 75%;
}
footer button {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
footer label {
    margin: 10px;
}
footer select {
    margin-left: 20px;
}
.High {
    color: red;
}
.Medium {
    color: orange;
}
.Low {
    color: blue;
}
.done {
    color: gray;
    text-decoration: line-through;
}
