section#high {
  background-color: red;
}
li>#high {
  color: white;
}
section#medium {
  background-color:orange;
}
li>#medium {
  color: brown;
}
section#low {
  background-color: gray;
}
li>#low {
  color: black;
}
section#done {
  background-color: black;
}
#done>li {
  color: blue;
  text-decoration: line-through;
}
